header{
    background-color: #232323;
    color:#ffffff;
    text-align: center;
    padding: 1rem;
}

.parent{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #f64348;
}

.child{
    font-size: 2rem;
    color: #00ff9f;
}

